/* HEADER STYLES */
header {
  background: url('../images/bg-pattern-intro.svg'), linear-gradient(to right,hsl(353, 82%, 63%), hsl(0, 42%, 46%));
  background-position: center;
  min-height: 32.25rem;
  border-bottom-left-radius: 120px;
  margin-bottom: 8rem;
}

.header-container {
    width: 1080px;
    margin: 0 auto;
    max-width: 100%;
}

.header-top-row {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 1rem 0 1rem;
  margin-bottom: 6rem;
}

.header-bottom-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  text-align: center;
}

.header-bottom-row.is-active {
  display: none;
}

.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: .95rem;
  height: fit-content;
}

.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: .95rem;
}

.nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-left: 4rem;
  margin-top: 1.2rem;
}

.logo {
  z-index: 99;
}

.hamburger {
  display: none;
  border: 0;
  outline: 0;
  background-color: transparent;
}

.nav-ul li {
  margin-right: 2rem;
}

ul > li:hover span, ul > li:active span, 
ul > li:focus span {
  border-bottom: 3px solid white;
  padding-bottom: .1rem;
}

.login {
  color: white;
  margin-right: 2rem;
}

.sign-up {
  color: hsl(356, 100%, 66%);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: .95rem;
  border: none;
  outline: none;
  padding: .8rem 2.2rem;
  border-radius: 40px;
  cursor: pointer;
}

.sign-up:hover, .sign-up:active, .sign-up:focus {
  background-color: hsl(355, 100%, 74%);
  color: white;
}

/* --------------------------------- */
/* DROPDOWN HOVER MENU STYLING START */
/* --------------------------------- */
.dropdown-menu {
  position: relative;
}

@keyframes slide-down {
  from {
    min-height: 0;
  }
  to {
    min-height: 145px;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* dropdown slide in/fade in animation START */
.dropdown-menu:hover .dropdown-content, 
.dropdown-menu:active .dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  animation: slide-down .3s ease-in-out;
}
.dropdown-menu:hover a, 
.dropdown-menu:active a {
  animation: fade-in .3s ease-in-out;
  display: block;
}
/* dropdown slide in/fade in animation END */
.dropdown-btn {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 1.2rem;
}
.dropdown-content {
  position: absolute;
  left: -30px;
  display: none;
  z-index: 2;
  min-width: 145px;
  min-height: 140px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  background-color: white;
  border-radius: 10px;
}
.dropdown-content a {
  color: rgb(63, 59, 59);
  font-weight: 400;
  font-size: .91rem;
  padding-left: 2rem;
  display: none;
}
.dropdown-menu a:hover, 
.dropdown-menu a:active,
.dropdown-menu a:focus {
  font-weight: bold;
}
.dropdown-arrow {
  margin-left: .15rem;
  transform: rotate(0deg);
  transition: transform .2s ease-in-out;
}
.dropdown-menu:hover .dropdown-arrow, 
.dropdown-menu:active .dropdown-arrow, 
.dropdown-menu:focus .dropdown-arrow {
  transform: rotate(180deg);
}
/* ------------------------------- */
/* DROPDOWN HOVER MENU STYLING END */
/* ------------------------------- */

.mobile-nav {
  display: none;
}

.hero-text {
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  color: white;
  font-size: 3rem;
  padding-bottom: .5rem;
}

.header-paragraph {
  font-family: 'Overpass', sans-serif;
  font-weight: lighter;
  color: white;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  margin: 2.5rem 0;
  width: 280px;
}

.start-for-free {
  color: hsl(356, 100%, 66%);
  background-color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: .95rem;
  border: none;
  outline: none;
  padding: .8rem 1rem;
  border-radius: 40px;
  cursor: pointer;
}

.start-for-free:hover, 
.start-for-free:active, 
.start-for-free:focus {
  background-color: hsl(355, 100%, 74%);
  color: white;
}

.learn-more {
  color: white;
  background-color: transparent;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: .95rem;
  border: 2px solid white;
  outline: none;
  padding: .75rem 1.5rem;
  border-radius: 40px;
  cursor: pointer;
}

.learn-more:hover, 
.learn-more:active, 
.learn-more:focus {
  color: hsl(355, 100%, 74%);
  background-color: white;
}

/* SECTION 1 STYLES */

.section1-container {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
  height: fit-content;
  margin-bottom: 6rem;
}

.designed {
  font-family: 'Overpass', sans-serif;
  color: hsl(208, 52%, 19%);
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}

.section1-content {
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.section1-paragraphs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  padding-left: 3rem;
}

.description-title {
  font-family: 'Overpass', sans-serif;
  color: hsl(208, 52%, 19%);
  margin-bottom: 1.5rem;
}

.description-paragraph {
  font-family: 'Overpass', sans-serif;
  color: hsl(206, 11%, 44%, .8);
  font-size: .87rem;
  font-weight: 600;
  margin-bottom: 4rem;
  line-height: 1.6rem;
}

.section1-image {
  position: relative;
  min-width: 700px;
  right: -100px;
}
/* SECTION 2 STYLES START */
.section2 {
  width: 1440px;
  max-width: 100%;
  margin-bottom: 2rem;
  border-bottom-left-radius: 120px;
  border-top-right-radius: 120px;
  background: url('../images/bg-pattern-circles.svg'), linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  background-repeat: no-repeat;
  background-position: -200px, -0px;
}

.section2-container {
  margin: 0 auto;
  display: flex;
  width: 1080px;
  max-width: 100%;
  align-items: center;
  height: 400px;
}

.section2-image {
  max-width: 65%;
}

.section2-text {
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

.section2-title {
  color: white;
  font-family: 'Overpass', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.section2-paragraph {
  color: white;
  font-family: 'Overpass', sans-serif;
  font-size: .9rem;
  font-weight: 300;
}

/* SECTION 2 STYLES END */ 
.section3-container {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
  height: fit-content;
  margin-bottom: 2rem;
}

.section3-content {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.section3-paragraphs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  padding-right: 3rem;
  padding-left: 4rem;
}

.description-title {
  font-family: 'Overpass', sans-serif;
  color: hsl(208, 52%, 19%);
  margin-bottom: 1.5rem;
}

.description-paragraph {
  font-family: 'Overpass', sans-serif;
  color: hsl(206, 11%, 44%, .8);
  font-size: .87rem;
  font-weight: 600;
  margin-bottom: 4rem;
  line-height: 1.6rem;
}

.section3-image {
  min-width: 700px;
  margin-left: -15rem;
}

/* FOOTER STYLES */

footer {
  background-color: hsl(240, 10%, 16%);
  border-top-right-radius: 120px;
  height: min-content;
}

footer .logo {
  align-self: flex-start;
}

.footer-container {
  padding: 4rem 0;
  width: 1200px;
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  color: white;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-links-product {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: .9rem;
  min-height: 150px;
}

.footer-links-company {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: .9rem;
  min-height: 120px;
}

.footer-links-connect {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: .9rem;
  min-height: 100px;
}

.footer-title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  padding-bottom: 1.5rem;
}

.footer-links-product a:hover, 
.footer-links-company a:hover, 
.footer-links-connect a:hover, 
.footer-links-product a:active, 
.footer-links-company a:active, 
.footer-links-connect a:active,
.footer-links-product a:focus, 
.footer-links-company a:focus, 
.footer-links-connect a:focus {
  color: rgb(165, 161, 161);
}